<%= title content.title %>
<div class="actions">
  <%= link_to 'Editar', [:edit, content], rel: 'edit-content' if can? :update, content %>
  <%= link_to "Añadir #{model.model_name.human}", [:new, model.to_s.downcase] if can? :create, content %>
</div>

<%= render_content(content) %>

<div class="mentions">
  <h3>Dónde aparece...</h3>
  <ul>
    <% content.mentions.each do |scene| %>
      <li>
      <%= link_to "#{chapter_name(scene.chapter)}, escena #{scene.position}", chapter_path(scene.chapter, anchor: "s#{scene.position}") %>
      </li>
    <% end %>
  </ul>
</div>

