<div class="actions">
  <%= link_to 'Volver', publications_path %> |
  <%= link_to 'Editar', [:edit, publication] %>
</div>
<%= content_tag_for :article, publication do %>
  <%= title publication.title %>
  <%= render_content publication %>
<% end %>
