<%= div_for scene, class: 'item' do %>
  <div class="info">
    <h4>Escena <%= scene.position %></h4>
    <%= link_to icon(:trash), [chapter, scene], method: :delete,
      confirm: "¿Borrar la escena #{scene.position}?" if can? :destroy, scene %>
    <%= link_to icon(:pencil), [:edit, chapter, scene] if can? :update, scene %>
  </div>
  <%= markdown scene.content %>
<% end %>

