<%= title 'Semillero' %>
<div class="actions">&nbsp;</div>

<% if can? :create, Seed %>
  <%= simple_form_for new_seed do |form| %>
    <%= form.input :body, as: :text, label: false %>
    <%= form.submit 'Plantar', class: 'btn' %>
  <% end %>
<% else %>
  <p>
  <%= link_to 'Entra', login_path %> para colaborar.
  <br><br>
  </p>
<% end %>

<table class="table">
  <% seeds.each do |seed| %>
    <tr>
      <td>
        <%= link_to seed.user.name, seed %>
      </td>
      <td>
        <%= markdown(seed.body) %> 
      </td>
    </tr>
  <% end %>
</table>
