<%= div_for chapter do %>
  <%= link_to icon(:pencil), [:edit, chapter],
   class: 'chapter-action' if can? :update, chapter %>
  <h3>Capítulo <%= chapter.position %>:</h3>
  <%= title chapter.title %>

  <%= render chapter.scenes %>
<% end %>
<div class="actions">
  <%= link_to 'Añadir escena', new_chapter_scene_path(chapter) if can? :create, Scene %>
</div>
