<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> :: <%= current_group.name %></title>
    <link href='http://fonts.googleapis.com/css?family=Kreon:300,700|Cousine' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flashes' %>
    <div class="container">
      <div class="row">
        <div class="main span8">
          <%= yield %>
        </div>
        <div class="sidebar span4">
          <%= render 'sidebar' %>
        </div>
      </div>
    </div>
  </body>
</html>
